h2 {
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	color: #fff;
	font-size: 1.1em;
	margin: 12px;
	padding: 0.3em 1em;
	text-transform: uppercase;
	font-family:Verdana, Geneva, sans-serif;
}

h2.account{
	background-color: #771517;
	color:#FFF;
}

legend {
	background-color: #dedede;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 0.3em 1em;
}

fieldset {
	background-color:#FFF;
	border: none;
	border-radius: 2px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 10px;
	font-family:Verdana, Geneva, sans-serif;
}

fieldset ul{
	background-color: #FFF;
	border: 1px solid #eaeaea;
	list-style: none;
	margin: 12px;
	padding: 12px;
}

fieldset li{
	margin: 0.5em 0;
}

label {
	display: inline-block;
	padding: 3px 6px;
	width: 80px;
	vertical-align: top;
}

input, select, button {
	font: inherit;
	border:solid 1px #999999;
}

.small {
	width: 75px;
}

.medium {
	width: 150px;
}

.large {
	width: 250px;
}

textarea {
	font: inherit;
	width: 250px;
	border:solid 1px #999999;
}


.instructions {
	font-size: 75%;
	padding-left: 167px;
	font-style: italic;
}




.checkboxes label {
	text-align: left;
	width: 475px;
}

button * {
	vertical-align: middle;
	cursor: pointer;
    position: fixed;
}

