
#navigation{
  background-color: #eee;
  
}

#navigation ul{
  margin: 0;
  padding: 0; 
}

#navigation li{
  border-right: 1px solid red;
  display: block;
  float: left;
  margin: 0;
}

#navigation li:last-child {
  border-right-width: 0;
}

#navigation a {
  background-color: #eee;
  color: #333;
  display: block;
  padding: .75em 1.5em;
  text-decoration: none;
  transition: all .25s ease-in-out;
  width: 100%;
}

#navigation a:hover {
  background-color: #E0FFFF;
  opacity: 1.0;
 }

.clearfix {
  *zoom: 1;
}

.clearfix:after, 
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

@media screen (max-width: 678px){
  #navegation li{float: none;} 
}
