*{
margin:0;
border:0;
padding:0;
box-sizing:border-box;
}

table{
width:600px;
margin:auto;
}

tr{
background-color:#FFF;
}

th{
background-color:#FFF;
border:2px solid black;}

td{
width:600px;
border:2px solid black;
}

caption{
background-color:#800e10;
color:white;
border: 2px solid black;
}

thead{
color:#800e10;
}

tbody{
font-style:italic;
}

tfoot{
font-weight:bold;
}
